
.form-check input[type=radio] + label
{
    width:100%;
}
.mySuccess input[type=radio]:checked + label  
{
    color: #fff;
    background-color: #1e7e34;
    border-color: black;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,1);
}
.myMistake input[type=radio]:checked + label  
{
    color: #fff;
    background-color: #d39e00;
    border-color: black;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,1);
}
.myDecline input[type=radio]:checked + label  
{
    color: #fff;
    background-color: #bd2130;
    border-color: black;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,1);
}

