<style>
  table.table {
    table-layout: fixed;
  }
  table.table th{
    width: 30%; /* Установите необходимую ширину колонок */
    text-align: left; /* Выравнивание текста в ячейках */
  }
  table.table td {
    width: 70%; /* Установите необходимую ширину колонок */

  }
</style>

<legend>
    <h2>Закупочная процедура № {{task.bp_id}} </h2><br>
    <h3>{{task.bp.title}}</h3> <br>
</legend>


<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Организация</th>
      <td> {{ bp_info["Организация"] }} </td>
    </tr>
    <tr>
      <th scope="row">Подразделение</th>
      <td> {{ bp_info["Подразделение"] }} </td>
    </tr>
    <tr>
      <th scope="row">Инициатор</th>
      <td> {{ bp_info["Инициатор"] }} </td>
    </tr>
    <tr>
      <th scope="row">Дата создания</th>
      <td> {{ task.bp.date | datetime_vl('%d.%m.%Y') }} </td>
    </tr>
    <tr>
      <th scope="row">Дата отправки на согласование</th>
      <td> {{ bp_info["ДатаОтправки"] }} </td>
    </tr>
   </tbody>
</table>

<br/>

<h3> Информация о закупке </h3>

<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Направление</th>
      <td> {{ bp_info["ПредметДоговора"] }} </td>
    </tr>
    <tr>
      <th scope="row">Предмет договора</th>
      <td>
        {{ bp_info["ПредметДоговораТекст"] }}
        {% if bp_info["ДоговорРамочный"] == "Да" %}
          (Рамочный)
        {% endif %}
      </td>
    </tr>
    <tr>
      <th scope="row">Периодичность оплаты</th>
      <td> {{ bp_info["ПериодичностьОплаты"] }} </td>
    </tr>
    <tr>
      <th scope="row">Договорной документ</th>
      <td> {{ bp_info["ДоговорнойДокумент"] }} </td>
    </tr>
    <tr>
      <th scope="row">Целесообразность</th>
      <td> {{ bp_info["Цель"] }} </td>
    </tr>

    {% if bp_info["Объёмы"] %}
    <tr>
      <th scope="row">Объемы (ключевые физические показатели)</th>
      <td> {{ bp_info["Объёмы"] }} </td>
    </tr>
    {% endif %}
   </tbody>
</table>

<br>

{% if bp_files.count() %}

<br>
<h4> Техническая документация, обоснование: </h4>

<ul>

    {% for file_info in bp_files %}
    <li><a href="{{url_for('soglasovanie.get_file', file_id=file_info.file_id)}}"> {{file_info.filename}} </a></li>
    {% endfor %}

</ul>

<br>

{% endif %}

<h3> Участники закупки </h3>

<table class="table table-hover">
  <tbody>
    <tr>
      <th>Контрагент</th>
      <th>Условия</th>
      <th>Условия оплаты</th>
      <th>Сумма договора</th>
      <th>Уровень безопасности</th>
      <th>Выбор</th>
    </tr>

    {% for participant in bp_info["ПредложенияНаРынке"] %}
        {% set bgcolor = "" %}
        {% if participant["УровеньБезопасности"] == "Зеленый" %}
          {% set bgcolor = "bg-success" %}
        {% elif participant["УровеньБезопасности"] == "Желтый" %}
          {% set bgcolor = "bg-warning" %}
        {% elif participant["УровеньБезопасности"] == "Красный" %}
          {% set bgcolor = "bg-danger" %}
        {% endif %}
        <tr>
          <td> {{ participant["Контрагент"] }} </td>
          <td> {{ participant["УсловияДоговора"] }} </td>
          <td> {{ participant["УсловияОплаты"] }} </td>
          <td class="text-right"> {{ participant["СуммаДоговора"] }} </td>
          <td class="text-center {{ bgcolor }}"> {{ participant["УровеньБезопасности"] }} </td>
          <td>
            {% if participant["ВыборДиректора"] == "Да" %} ✔ {% endif %}
          </td>
        </tr>
    {% endfor %}
</table>

<br>

<h3> Победитель </h3>

<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Наименование</th>
      <td> {{ bp_info["Контрагент"] }} </td>
    </tr>
    <tr>
      <th scope="row">Собственники, бенифициары</th>
      <td> {{ bp_info["Собственники"] }} </td>
    </tr>
   </tbody>
</table>

<h4> Основные условия договора </h4>
<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row" rowspan="2">Стоимость договора (тыс.руб с НДС)</th>
      <th class="text-center">Итого</th>
      <th class="text-center">{{ bp_info["ЗаголовокГод0"] }}</th>
      <th class="text-center">{{ bp_info["ЗаголовокГод1"] }}</th>
      <th class="text-center">{{ bp_info["ЗаголовокГод2"] }}</th>
    </tr>
    <tr>
      <td class="text-center">{{ bp_info["СтоимостьИтого"] }}</td>
      <td class="text-center">{{ bp_info["СтоимостьГод0"] }}</td>
      <td class="text-center">{{ bp_info["СтоимостьГод1"] }}</td>
      <td class="text-center">{{ bp_info["СтоимостьГод2"] }}</td>
    </tr>
    <tr>
      <th scope="row">Единичные расценки, удельные показатели</th>
      <td colspan="4"> {{ bp_info["ЕдиничныеРасценки"] }} </td>
    </tr>
    <tr>
      <th scope="row">Срок выполнения</th>
      <td colspan="4"> {{ bp_info["СрокВыполнения"] }} </td>
    </tr>
    <tr>
      <th scope="row">Порядок оплаты</th>
      <td colspan="4"> {{ bp_info["ПорядокОплаты"] }} </td>
    </tr>
    <tr>
      <th scope="row">Обеспечение</th>
      <td colspan="4"> {{ bp_info["Обеспечение"] }} </td>
    </tr>
   </tbody>
</table>


<h4> Информация о договоре </h4>
<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Дата договора</th>
      <td> {{ bp_info["ДоговорДата"] }} </td>
    </tr>
    <tr>
      <th scope="row">Сумма договора</th>
      <td> {{ bp_info["ДоговорСумма"] }} </td>
    </tr>
    <tr>
      <th scope="row">Сумма аванса</th>
      <td> {{ bp_info["АвансСумма"] }} </td>
    </tr>
   </tbody>
</table>

<h4> Лимиты годового бюджета </h4>
<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">ЦФО</th>
      <td> {{ bp_info["ЦФО"] }} </td>
    </tr>
    <tr>
      <th scope="row">БДР</th>
      <td> {{ bp_info["ЛимитБДРГодовой"] }} </td>
    </tr>
    <tr>
      <th scope="row">БДДС</th>
      <td> {{ bp_info["ЛимитБДДСГодовой"] }} </td>
    </tr>
    <tr>
      <th scope="row">Остаток БДДС</th>
      <td> {{ bp_info["ОстатокБДДС"] }} </td>
    </tr>
    <tr>
      <th scope="row">Примечание</th>
      <td> {{ bp_info["ЛимитБДРПримечание"] }} </td>
    </tr>
    <tr>
      <th scope="row">Статья ДДС</th>
      <td> {{ bp_info["СтатьяДДС"] }} </td>
    </tr>
    <tr>
      <th scope="row">Статья ДДС (перераспределено)</th>
      <td> {{ bp_info["СтатьяДДСПерераспределено"] }} </td>
    </tr>
   </tbody>
</table>


{% if partner_files.count() %}

<br>
<h3> Документы победителя: </h3>

<ul>

    {% for file_info in partner_files
  %}
    <li><a href="{{url_for('soglasovanie.get_file', file_id=file_info.file_id)}}"> {{file_info.filename}} </a></li>
    {% endfor %}

</ul>

<br>

{% endif %}