<legend>
    Утверждение заявки на оплату <br>
    Бизнес процесс № {{task.bp_id}}<br>
    <b>{{task.bp.title}}</b><br>
</legend>

<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Контрагент</th>
      <td>{{bp_info["Контрагент"]}}</td>
    </tr>
    <tr>
      <th scope="row">Организация</th>
      <td>{{bp_info["Организация"]}}</td>
    </tr>
   <tr>
      <th scope="row">Подразделение</th>
      <td>{{bp_info["Подразделение"]}}</td>
    </tr>
   <tr>
      <th scope="row">Автор</th>
      <td>{{bp_info["Автор"]}}</td>
    </tr>
   <tr>
      <th scope="row">Наименование договора</th>
      <td>{{bp_info["ДоговорКонтрагента"]}}</td>
    </tr>
   <tr>
      <th scope="row">Статья ДДС</th>
      <td>{{bp_info["СтатьяДвиженияДенежныхСредств"]}}</td>
    </tr> 
    <tr>
      <th scope="row">Проект</th>
      <td>{{bp_info["Проект"]}}</td>
    </tr>
   <tr>
      <th scope="row">Назначение платежа</th>
      <td>{{bp_info["НазначениеПлатежа"]}}</td>
    </tr>

   {% if bp_info["Комментарий"] %}
   <tr>
      <th scope="row">Комментарий</th>
      <td>{{bp_info["Комментарий"]}}</td>
    </tr>
   {% endif %}

   <tr>
      <th scope="row">Сумма платежа</th>
       <td>{{bp_info["СуммаПлатежа"]}} <b>{{bp_info["Валюта"]}}</b></td>
    </tr>
    <tr>
      <th scope="row">Бюджеты</th>
       <td>На месяц:{{bp_info["БюджетМесяц"]}}, На квартал:{{bp_info["БюджетКвартал"]}}</b></td>
    </tr>
  </tbody>
</table>

<br>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
          <th scope="col">Согласователи</th>
          <th scope="col">Роль</th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for row in bp_info["Согласователи"] %}
            <tr>
              <td scope="col">{{row["Пользователь"]}}</td>
              <td scope="col">{{row["Роль"]}}</td>
              <td scope="col">
                  {% if row["Согласовано"] == "Да" %}
                    ✔
                  {% elif row["Согласовано"] == "Замечание" %}
                    😠
                  {% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if bp_info["Замечания"] %}

<br>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
          <th scope="col">Пользователь</th>
          <th scope="col">Замечание</th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for row in bp_info["Замечания"] %}
            <tr>
              <td scope="col">{{row["Пользователь"]}}</td>
              <td scope="col">{{row["Замечание"]}}</td>
              <td scope="col">{% if row["Исправлено"] == "Да" %} ✔️{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% if bp_files.count() %}

<br>
<b> Прикрепленные файлы: </b>

<ul>

    {% for file_info in bp_files %}
    <li><a href="{{url_for('soglasovanie.get_file', file_id=file_info.file_id)}}"> {{file_info.filename}} </a></li>
    {% endfor %}

</ul>

<br>

{% endif %}

{% if bp_reports.count() %}

<br>
<b> Отчеты: </b>

<ul>

    {% for file_info in bp_reports %}
    <li><a href="{{url_for('soglasovanie.get_file', file_id=file_info.file_id)}}"> {{file_info.filename}} </a></li>
    {% endfor %}

</ul>

<br>

{% endif %}