{% extends "base.html" %}

{% block content %}
    
<table class="table table-bordered table-hover">
  <thead class="thead-dark"> 
    <tr>
      <th scope="col" class="d-none d-sm-table-cell">Номер</th>
      {% if is_admin %}
        <th scope="col">Пользователь</th>
      {% endif %}
      <th scope="col">Бизнес процесс</th>
      <th scope="col" class="d-none d-sm-table-cell">Дата БП</th>
      <th scope="col">Наименование</th>
      <th scope="col" style="width: 170px; text-align: center;">Вердикт</th>

    </tr>
  </thead>
  <tbody>
      
      {% for task in list_of_tasks %} 

        <tr onclick="window.location='{{url_for('soglasovanie.show_task',task_id = task.task_id)}}'"
          {% if (task.bp.date | is_later_than_n_days(3)) and not task.verdict %}
            class="text-danger"
          {% endif %}
        >
          <th scope="row" class="d-none d-sm-table-cell">{{task.task_id}}</th>
          {% if is_admin %}
            <th scope="col">{{task.user.full_user_name}}</th>
          {% endif %}
          <td >{{task.bp.bp_id}}</td>
          <td class="d-none d-sm-table-cell">{{task.bp.date | datetime_vl('%d.%m.%Y')}}</td>
          <td>{{task.bp.title}}</td>
          <td  style="text-align: center;">
            {%if task.verdict %} 
              {% if task.verdict == 'success'%}
                <span class='badge badge-success'>Согласовано</span>
              {% elif task.verdict == 'mistake'%}
                <span class='badge badge-warning'>Отклонено</span>
              {% else %}
                <span class='badge badge-danger'>{{task.verdict}}</span>
              {% endif %}
              <br>
              {% if task.verdict_date%}
                {{task.verdict_date | datetime_vl}}
              {% endif %}
            {%endif%}
          </td>
        </tr>
      {% endfor %}

  </tbody>
</table>

{% endblock %}
