
{% extends "base.html" %}

{% block scripts %}

<style>

    .form-check input[type=radio] + label{width:100%;}
    
	.mySuccess input[type=radio]:checked + label  {
	color: #fff;
	background-color: #1e7e34;
	border-color: black;
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,1);
	}
	.myMistake input[type=radio]:checked + label  {
	color: #fff;
	background-color: #d39e00;
	border-color: black;
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,1);
	}




</style>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        $("#form-control").hide("display", "none");
            $("input:radio").on("change", function(){
            if ($("#declineRadio:input").prop("checked") || $("#mistakeRadio:input").prop("checked")){
                    $("#form-control").show(700);
            }else{ $("#form-control").hide(700);}
            });
        });
</script>
{% endblock %}

{% block content %}

<legend>
    Утверждение заявки на оплату <br>
    Бизнес процесс № {{task.bp_id}}<br> 
    <b>{{task.bp.title}}</b><br>
</legend>

<div class="form-group">
    <div>{{task.bp.description}}</div>
</div>

<form method="POST" action="{{url_for('soglasovanie.perform_task')}}" >
    {{form.hidden_tag()}}
        
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="form-check form-check-inline mySuccess w-100">
                <input class="form-check-input d-none" type="radio" name="verdict" id="successRadio" value="success" checked="trus">
                <label class="success  btn btn-success" for="successRadio">
                    Утвердить
                </label>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-check form-check-inline myMistake w-100">
                <input class="form-check-input d-none" type="radio" name="verdict" id="mistakeRadio" value="mistake">
                <label class="mistake btn btn-warning text-white" for="mistakeRadio">
                    Отправить замечание
                </label>
            </div>
        </div>
        
    
    </div>

    <div class="form-group" id="form-control">
        <div>
            <span style="color: red">Укажите ваше замечание</span><br>
            <textarea name="message" class="form-control"></textarea>
        </div>
    </div>
    
    {{ form.submit }}
    
</form>

{% endblock %}