
{% extends "base.html" %}

{% block scripts %}

<style>

    .form-check input[type=radio] + label{width:100%;}

	.mySuccess input[type=radio]:checked + label  {
	color: #fff;
	background-color: #1e7e34;
	border-color: black;
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,1);
	}
	.myMistake input[type=radio]:checked + label  {
	color: #fff;
	background-color: #d39e00;
	border-color: black;
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,1);
	}




</style>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        {% if form.verdict != 'mistake' %}
            $("#messageBox").hide("display", "none");
        {% endif %}
        
        $("input:radio").on("change", function(){
            if ($("#declineRadio:input").prop("checked") || $("#mistakeRadio:input").prop("checked")){
                    $("#messageBox").show(700);
            }else{ $("#messageBox").hide(700);}
            });
        });
</script>
{% endblock %}

{% block content %}

<legend>
    Утверждение заявки на оплату <br>
    Бизнес процесс № {{task.bp_id}}<br> 
    <b>{{task.bp.title}}</b><br>
</legend>

<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Контрагент</th>
      <td>{{bp_info["Контрагент"]}}</td>
    </tr>
    <tr>
      <th scope="row">Организация</th>
      <td>{{bp_info["Организация"]}}</td>
    </tr>
   <tr>
      <th scope="row">ЦФО</th>
      <td>{{bp_info["ЦФО"]}}</td>
    </tr>
   <tr>
      <th scope="row">Инициатор</th>
      <td>{{bp_info["Инициатор"]}}</td>
    </tr>
   <tr>
      <th scope="row">Наименование договора</th>
      <td>{{bp_info["ДоговорКонтрагента"]}}</td>
    </tr>
   <tr>
      <th scope="row">Статья ДДС</th>
      <td>{{bp_info["СтатьяДвиженияДенежныхСредств"]}}</td>
    </tr>
   <tr>
      <th scope="row">Назначение платежа</th>
      <td>{{bp_info["НазначениеПлатежа"]}}</td>
    </tr>
   <tr>
      <th scope="row">Сумма платежа</th>
       <td>{{bp_info["СуммаПлатежа"]}} <b>{{bp_info["Валюта"]}}</b></td>
    </tr>
  </tbody>
</table>

<br>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
          <th scope="col">Согласователи</th>
          <th scope="col">Роль</th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for row in bp_info["Согласователи"] %}
            <tr>
              <td scope="col">{{row["Пользователь"]}}</td>
              <td scope="col">{{row["Роль"]}}</td>
              <td scope="col">
                  {% if row["Согласовано"] == "Да" %}
                    ✔
                  {% elif row["Согласовано"] == "Замечание" %}
                    😠
                  {% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if bp_info["Замечания"] %}

<br>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
          <th scope="col">Пользователь</th>
          <th scope="col">Замечание</th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for row in bp_info["Замечания"] %}
            <tr>
              <td scope="col">{{row["Пользователь"]}}</td>
              <td scope="col">{{row["Замечание"]}}</td>
              <td scope="col">{% if row["Исправлено"] == "Да" %} ✔️{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% if bp_files %}

<br>
<b> Прикрепленные файлы: </b>

<ul>

    {% for file_info in bp_files %}
    <li><a href="{{url_for('soglasovanie.get_file', file_id=file_info.file_id)}}"> {{file_info.filename}} </a></li>
    {% endfor %}

</ul>

<br>

{% endif %}

{% if bp_reports %}

<br>
<b> Отчеты: </b>

<ul>

    {% for file_info in bp_reports %}
    <li><a href="{{url_for('soglasovanie.get_file', file_id=file_info.file_id)}}"> {{file_info.filename}} </a></li>
    {% endfor %}

</ul>

<br>

{% endif %}
<form method="POST" action="{{url_for('soglasovanie.perform_task')}}" >
    {{form.hidden_tag()}}

    {% set checked_success = False %}
    {% set checked_mistake = False %}
    {% set disabled_form = False %}
    {% if form.verdict == 'success' %}
        {% set checked_success = True %}
        {% set disabled_form = True %}
    {% elif form.verdict == 'mistake' %}
        {% set checked_mistake = True %}
        {% set disabled_form = True %}
    {% else %}
        {% set checked_success = True %}
    {% endif %}

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="form-check form-check-inline mySuccess w-100">
                <input class="form-check-input d-none" type="radio" name="verdict" id="successRadio"
                       value="success"
                       {% if checked_success %} checked {% endif %}
                       {% if disabled_form %} disabled {% endif %}
                >
                <label class="success  btn btn-success" for="successRadio">
                    Утвердить
                </label>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-check form-check-inline myMistake w-100">
                <input class="form-check-input d-none" type="radio" name="verdict" id="mistakeRadio"
                       value="mistake"
                       {% if checked_mistake %} checked {% endif %}
                       {% if disabled_form %} disabled {% endif %}
                >
                <label class="mistake btn btn-warning text-white" for="mistakeRadio">
                    Отправить замечание
                </label>
            </div>
        </div>
    </div>

    <div class="form-group" id="messageBox">
        <div>
            <span style="color: red">Укажите ваше замечание</span><br>
            <textarea name="message" class="form-control" {% if disabled_form %} disabled {% endif %}>{% if form.message %}{{form.message}}{% endif %}</textarea>

        </div>
    </div>
    
    <button type="submit" class="btn btn-primary btn-block">Отправить</button>

</form>

{% endblock %}