
{% extends "base.html" %}

{% block scripts %}

<style>

    .form-check input[type=radio] + label{width:100%;}

	.mySuccess input[type=radio]:checked + label  {
	color: #fff;
	background-color: #1e7e34;
	border-color: black;
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,1);
	}
	.myMistake input[type=radio]:checked + label  {
	color: #fff;
	background-color: #d39e00;
	border-color: black;
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,1);
	}




</style>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        {% if form.verdict != 'mistake' %}
            $("#messageBox").hide("display", "none");
        {% endif %}
        
        $("input:radio").on("change", function(){
            if ($("#declineRadio:input").prop("checked") || $("#mistakeRadio:input").prop("checked")){
                    $("#messageBox").show(700);
            }else{ $("#messageBox").hide(700);}
            });
        });
</script>
{% endblock %}

{% block content %}

{% if form.verdict%}

<div class="alert alert-dark" role="alert">
  Эта задача уже выполнена! Информация только для просмотра.
    <br>
    {% if form.verdict == 'success'%}
    <span class='badge badge-success'>Согласовано</span>
  {% elif form.verdict == 'mistake'%}
    <span class='badge badge-warning'>Отклонено</span>
  {% else %}
    <span class='badge badge-danger'>{{form.verdict}}</span>
  {% endif %}
    <br>
    <span>{{form.message}}</span>

</div>

{% endif %}
{% if task.bp.bp_type == 'ТД_ЗаявкаНаОплату' %}

    {% include 'soglasovanie/bp_content_type_1.html' %}

{% elif task.bp.bp_type == 'ТД_СогласованиеДоговора' %}

    {% include 'soglasovanie/bp_content_type_2.html' %}

{% elif task.bp.bp_type == 'ТД_ОтгрузкаСПирса' %}

    {% include 'soglasovanie/bp_content_type_3.html' %}

{% endif %}

<form method="POST" action="{{url_for('soglasovanie.perform_task')}}" >
    {{form.hidden_tag()}}

    {% set checked_success = False %}
    {% set checked_mistake = False %}
    {% set disabled_form = False %}
    {% if form.verdict == 'success' %}
        {% set checked_success = True %}
    {% elif form.verdict == 'mistake' %}
        {% set checked_mistake = True %}
    {% endif %}
    {% if form.verdict %}
        {% set disabled_form = True %}
    {% endif %}

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="form-check form-check-inline mySuccess w-100">
                <input class="form-check-input d-none" type="radio" name="verdict" id="successRadio"
                       value="success"
                       {% if checked_success %} checked {% endif %}
                       {% if disabled_form %} disabled {% endif %}
                >
                <label class="success  btn btn-success" for="successRadio">
                    Утвердить
                </label>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-check form-check-inline myMistake w-100">
                <input class="form-check-input d-none" type="radio" name="verdict" id="mistakeRadio"
                       value="mistake"
                       {% if checked_mistake %} checked {% endif %}
                       {% if disabled_form %} disabled {% endif %}
                >
                <label class="mistake btn btn-warning text-white" for="mistakeRadio">
                    Отправить замечание
                </label>
            </div>
        </div>
    </div>

    <div class="form-group" id="messageBox">
        <div>
            <span style="color: red">Укажите ваше замечание</span><br>
            <textarea name="message" class="form-control" {% if disabled_form %} disabled {% endif %}>{% if form.message %}{{form.message}}{% endif %}</textarea>

        </div>
    </div>

    {% if is_admin %}

    <div class="row">
        <div class="col-12 col-md-8">
              <div class="form-group">
                <label for="admin_verdict">Установить статус для задачи:</label>
                <select class="form-control" id="admin_verdict">
                  <option>success</option>
                  <option>mistake</option>
                  <option>deleted</option>
                  <option>finished</option>
                  <option>removed_from_site</option>
                </select>
              </div>
        </div>

    </div>


    {% endif %}

    <button type="submit" class="btn btn-primary btn-block">Отправить</button>

</form>

{% endblock %}